@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

.exo-2 {
  font-family: "Exo 2", sans-serif;
}
.barlow-thin {
  font-family: "Barlow", sans-serif;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}
body {
  font-family: "Orbitron", sans-serif;
}
@keyframes scan {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
.animate-scan {
  animation: scan 3s linear infinite;
}
