@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

.orbitron {
  font-family: "Orbitron", sans-serif;
}

body {
  font-family: "Orbitron", sans-serif;
}
