@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}
@keyframes scan {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
.animate-scan {
  animation: scan 3s linear infinite;
}
